body {
  background: black url("https://s3.amazonaws.com/csstarwars/background.png");
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

/* Navbar */

.custom-navbar {
  background-color: transparent;
  backdrop-filter: blur(1px);
  display: flex;
  width: 100%;

}


@keyframes shine {
  0% {
    opacity: 1;
    filter: brightness(100%) hue-rotate(0deg);
  }

  50% {
    opacity: 0.5;
    filter: brightness(150%) hue-rotate(120deg);
  }

  100% {
    opacity: 1;
    filter: brightness(100%) hue-rotate(240deg);
  }

}

.logo {
  animation: shine 4s infinite;
}

/* Botón Favoritos */

.btn-favorites {

  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 2px solid gold;
  border-radius: 55px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-right: 100px;
}

.btn-favorites i {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  color: gold;
}

.btn-favorites:hover {
  background-color: rgba(243, 243, 238, 0.5);
}

/* Títulos*/

.character-title,
.planet-title,
.vehicle-title,
.starship-title {
  font-size: 42px;
  font-weight: bold;
  font-family: "Bungee Outline", sans-serif;
  color: #333;
  /* Color original de la palabra */
  background: linear-gradient(to right, #333 50%, yellow 70%);
  background-size: 200% 100%;
  animation: lightMove 4s linear infinite;
  display: inline-block;
  /* Para que el fondo siga el contorno del texto */
  background-clip: text;
  /* Para que el fondo solo se muestre donde está el texto */
  -webkit-background-clip: text;
  /* Para navegadores basados en WebKit */
}

@keyframes lightMove {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}